/* Nav menu */
.menu-nav {
  background-color: #e5e5e5;
  padding: 0 40px;
}
.right-menu {
  display: flex;
  justify-content: flex-end;
}
.menu-nav-item {
  color: #000000;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.menu-nav-item:hover {
  color: #000000;
}
.left-menu-xs {
  background-color: #e5e5e5;
  width: 40%;
  border-radius: 5px;
}
.menu-nav-item-xs {
  color: #000000;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
}
.menu-nav-item-xs:hover {
  color: #000000;
}
